<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Информация о книге</h1>
                </div>
                <div class="row bg-light rounded">
                        <h2>Книга</h2>
                        <h4 th:text="'ID: ' + ${model.book.id}"></h4>
                        <h4 th:text="'Название: ' + ${model.book.title}"></h4>
                        <h4 th:text="'Автор: ' + ${model.book.author}"></h4>
                        <h4 th:text="'Год издания: ' + ${model.book.year}"></h4>
                        <div class="align-bottom"><a class="btn btn-danger align-bottom"
                                                     th:href="@{/books/{id}/delete(id=${model.book.id})}">Удалить книгу</a>
                        </div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>